:root {
  --blue:#b6ccfe;
  --lightblue: #ccdbfd;
  --darkblue: #abc4ff;
  --anotherblue: #c1d3fe;
  --primary:  var(--blue);
  --secondary: var(--lightblue);
  --tertiary: var(--darkblue);
  --quaternary: var(--anotherblue);

}